html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 102px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #635f85;
}

.btn {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border-radius: 41px;
  background: linear-gradient(97.61deg, #f67906 0.67%, #f4a81d 89.89%);
  outline: none;
  color: #fff;
}

ul {
  list-style: none;
}

.title {
  font-size: 13px;
  color: #ff7d00;
  margin-bottom: 18px;
  font-weight: 500;
  letter-spacing: 0.185em;
  line-height: 1.4615384615;
  text-transform: uppercase;
}

.global {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.25;
  color: #051441;
}

.desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #5d677e;
}

@media screen and (max-width: 375px) {
  body {
    margin-top: 50px;
  }
}
.header-top {
  max-width: 1151px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 134px;
}
.header-list {
  margin-left: 150px;
  display: flex;
  align-items: center;
  gap: 0 38px;
}
.header-items {
  position: relative;
}
.header-items::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff7d00;
  transition: all 0.3s ease;
}
.header-items:hover::before {
  width: 15px;
}
.header-items:hover a {
  color: #ff7d00;
}
.header-items a {
  color: #635f85;
  transition: all 0.3s ease;
}
.header-more {
  margin-left: 70px;
  display: flex;
  align-items: center;
}
.header-secondary {
  padding: 16px 45px;
  color: #ff7d00;
  background: transparent;
  border: 2px solid #e7e7e7;
  line-height: 1.5;
}
.header-primary {
  padding: 16px 45px;
  color: #fff;
  margin-left: 13px;
  line-height: 1.5;
}
.header-bottom {
  max-width: 1210px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-caption {
  font-size: 13px;
  color: #ff7d00;
  margin-bottom: 18px;
  font-weight: 500;
  letter-spacing: 0.185em;
  line-height: 1.4615384615;
  text-transform: uppercase;
}
.header-heading {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.12;
  color: #051441;
  margin-bottom: 25px;
}
.header-desc {
  font-size: 16px;
  font-weight: 500;
  color: #5d677e;
  margin-bottom: 50px;
}
.header-video {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-button {
  padding: 16px 28px;
  color: #fff;
}
.header-play {
  margin-top: 20px;
  cursor: pointer;
}
.header-text {
  font-size: 16px;
  font-weight: 500;
  color: #101d48;
}

@media screen and (max-width: 1024px) {
  .header-top {
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
  }
  .header-list {
    display: none;
  }
  .header-secondary, .header-primary {
    padding: 16px 30px;
  }
  .header-image {
    display: none;
  }
  .header-bottom {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-caption {
    text-align: center;
  }
  .header-desc {
    margin-bottom: 30px;
  }
  .header-video {
    flex-direction: column;
  }
  .header-text {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .header-content {
    text-align: center;
  }
  .header-more {
    margin-left: 35px;
  }
  .header-primary, .header-secondary {
    padding: 5px 15px;
  }
  .header-secondary {
    border: 1px solid #e7e7e7;
  }
  .header-desc {
    padding: 0 60px;
  }
  .header-heading {
    font-size: 30px;
  }
}
.logo {
  margin-bottom: 140px;
}
.logo-container {
  background: #f4f7fd;
  max-width: 1470px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-items {
  margin-left: 43px;
}
.logo-items:first-child {
  margin-left: 0;
}

@media screen and (max-width: 1024px) {
  .logo {
    margin-bottom: 70px;
  }
  .logo-container {
    flex-direction: column;
  }
  .logo-items {
    margin-bottom: 15px;
    margin-left: 0;
  }
}
.service {
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 76px;
}
.service-top {
  margin-bottom: 73px;
}
.service-title, .service-heading, .service-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.service-title {
  margin-bottom: 25px;
}
.service-heading {
  margin-bottom: 32px;
}
.service-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 33px;
}
.service-items {
  padding: 40px 45px;
  padding-bottom: 87px;
  background: #ffffff;
  border: 2px solid #edeff7;
  border-radius: 13px;
  border-radius: 13px;
}
.service-items:nth-child(2) {
  box-shadow: 0px 24px 60px rgba(94, 122, 148, 0.1);
}
.service-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}
.service-caption {
  font-weight: 600;
  font-size: 21px;
  line-height: 1.4761904762;
  color: #051441;
  text-align: center;
  margin-bottom: 19px;
}
.service-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #7f8ea1;
  text-align: center;
}

@media screen and (max-width: 375px) {
  .service-columns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.features {
  margin-bottom: 140px;
}
.features-primary {
  max-width: 1220px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 113px;
}
.features-secondary {
  max-width: 1440px;
  padding: 117px 155px 89px;
  margin: 0 auto;
  background-color: #f4f8fd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-title {
  margin-bottom: 25px;
}
.primary-heading {
  margin-bottom: 25px;
}
.primary-desc {
  margin-bottom: 37px;
}
.primary-button {
  padding: 17px 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}

.secondary-title {
  margin-bottom: 18px;
}
.secondary-heading {
  margin-bottom: 25px;
}
.secondary-desc {
  margin-bottom: 34px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
}
.secondary-button {
  padding: 17px 30px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .features-primary {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .features-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 133px 50px;
  }
  .features .primary-button {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .features .secondary-button {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .features .secondary-img {
    margin-top: -40px;
  }
}
@media screen and (max-width: 768px) and (min-width: 375px) {
  .features {
    margin-bottom: 50px;
  }
  .features-secondary {
    padding: 30px 30px 50px;
  }

  .secondary-heading {
    font-size: 30px;
  }
  .secondary-img {
    display: none;
  }

  .primary-image {
    display: none;
  }
  .primary-heading {
    font-size: 30px;
  }
  .primary-button {
    margin-left: 15px;
  }
}
.testmonials {
  margin-bottom: 140px;
}
.testmonials-container {
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.testmonials-content {
  margin-left: 208px;
}
.testmonials-title {
  margin-bottom: 11px;
}
.testmonials-heading {
  margin-bottom: 25px;
}
.testmonials-desc {
  margin-bottom: 20px;
}
.testmonials-more {
  margin-bottom: 34px;
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.testmonials-number {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #ff7d00;
}
.testmonials-button {
  padding: 17px 30px;
}

@media screen and (max-width: 1024px) {
  .testmonials {
    margin-bottom: 70px;
  }
  .testmonials-content {
    margin-left: 50px;
  }
}
@media screen and (max-width: 768px) {
  .testmonials-heading {
    font-size: 30px;
  }
  .testmonials-img {
    display: none;
  }
  .testmonials-content {
    margin: 0 auto;
  }
  .testmonials-button {
    margin-left: 15px;
  }
}
.blog {
  margin-bottom: 140px;
}
.blog-container {
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto;
}
.blog-heading {
  margin-bottom: 25px;
  text-align: center;
}
.blog-desc {
  margin-bottom: 78px;
  text-align: center;
}
.blog-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 34px;
}
.blog-items {
  width: 355px;
  height: 483px;
  transition: all 0.5s ease;
}
.blog-items:hover {
  box-shadow: 0px 46px 100px -31px rgba(0, 0, 0, 0.1);
  border-radius: 17px;
}
.blog-items:hover .blog-title {
  color: #ff7d00;
}
.blog-img {
  margin-bottom: 33px;
}
.blog-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #051441;
}
.blog-text {
  font-size: 13px;
  line-height: 1.5384615385;
  color: #6d7f94;
}
.blog-content {
  padding-left: 23px;
}

@media screen and (max-width: 1024px) {
  .blog-columns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .blog-items {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 375px) {
  .blog {
    margin-bottom: 30px;
  }
}
.newsletter {
  margin-bottom: 140px;
}
.newsletter-container {
  max-width: 1130px;
  padding: 77px 0 116px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background: #f4f6fd;
  border-radius: 67px;
}
.newsletter-content {
  margin-left: 160px;
}
.newsletter-desc {
  color: #787e86;
  opacity: 0.8;
}
.newsletter-heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2083333333;
  color: #051441;
  margin-bottom: 25px;
}
.newsletter-email {
  margin-left: 82px;
  position: relative;
}
.newsletter-input {
  max-width: 375px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background: #ffffff;
  border-radius: 26.5px;
  border: none;
  padding: 15px 0;
  padding-left: 20px;
}
.newsletter-input::-webkit-input-placeholder {
  color: #6b7d93;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.newsletter-button {
  padding: 15px 30px;
  position: absolute;
  right: 10%;
  transform: translateX(50%);
}

@media screen and (max-width: 1024px) {
  .newsletter-container {
    flex-direction: column;
    width: 60%;
  }
  .newsletter-content {
    margin-left: 0;
    margin-bottom: 40px;
  }
  .newsletter-email {
    margin-left: 0;
  }
}
@media screen and (max-width: 375px) {
  .newsletter {
    margin-bottom: 50px;
  }
  .newsletter-container {
    width: 80%;
    padding: 20px 10px 30px;
  }
  .newsletter-content {
    margin-bottom: 30px;
    padding: 0 20px;
  }
  .newsletter-heading {
    font-size: 28px;
  }
  .newsletter-email {
    flex-direction: column;
    width: 40%;
  }
  .newsletter-input {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
  }
  .newsletter-button {
    padding: 10px 20px;
    right: 0;
    transform: translateX(0);
  }
}
.footer {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
  padding-top: 105px;
  padding-bottom: 30px;
  background: #052347;
}
.footer-container {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  padding-left: 130px;
}
.footer-select {
  display: flex;
  margin-left: 213px;
}
.footer-desc {
  font-size: 14px;
  line-height: 1.5714285714;
  color: #afaccd;
  margin-bottom: 27px;
}
.footer-logo {
  margin-bottom: 21px;
}
.footer-icon {
  display: flex;
}
.footer-icon :not(first-child) {
  margin-left: 12px;
}
.footer-item:first-child {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.9444444444;
}
.footer-item:first-child p {
  color: #d9e1f0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.9444444444;
}
.footer-item :not(first-child) {
  margin-left: 73px;
}
.footer-link {
  color: #afaccd;
  font-size: 14px;
  line-height: 2.6428571429;
}
.footer-bottom {
  max-width: 1130px;
  margin: 0 auto;
  border-top: 1px solid #11317c;
}
.footer-end {
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #8b9fcf;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-top: 50px;
  }
  .footer-container {
    flex-direction: column;
    padding-left: 0;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-select {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 20px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .footer-item :not(first-child) {
    margin-left: 0px;
  }
}
@media screen and (max-width: 375px) {
  .footer-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-list:not(last-child) {
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=app.css.map */
