.blog {
  margin-bottom: 140px;
  &-container {
    max-width: 1160px;
    padding: 0 15px;
    margin: 0 auto;
  }
  &-heading {
    margin-bottom: 25px;
    text-align: center;
  }
  &-desc {
    margin-bottom: 78px;
    text-align: center;
  }
  &-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 34px;
  }
  &-items {
    width: 355px;
    height: 483px;
    transition: all 0.5s ease;
    &:hover {
      box-shadow: 0px 46px 100px -31px rgba(0, 0, 0, 0.1);
      border-radius: 17px;
      .blog-title {
        color: $orange;
      }
    }
  }
  &-img {
    margin-bottom: 33px;
  }
  &-title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 18px;
    line-height: calc(27 / 18);
    color: $black-dark;
  }
  &-text {
    font-size: 13px;
    line-height: calc(20 / 13);
    color: $gray-dark;
  }
  &-content {
    padding-left: 23px;
  }
}
@media screen and (max-width: 1024px) {
  .blog {
    &-columns {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &-items {
      margin-bottom: 30px;
    }
  }
}
@media screen and (max-width: 375px) {
  .blog {
    margin-bottom: 30px;
  }
}
