.newsletter {
  margin-bottom: 140px;
  &-container {
    max-width: 1130px;
    padding: 77px 0 116px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: #f4f6fd;
    border-radius: 67px;
  }
  &-content {
    margin-left: 160px;
  }
  &-desc {
    color: #787e86;
    opacity: 0.8;
  }
  &-heading {
    font-weight: 600;
    font-size: 48px;
    line-height: calc(58 / 48);
    color: $black-dark;
    margin-bottom: 25px;
  }
  &-email {
    margin-left: 82px;
    position: relative;
  }
  &-input {
    max-width: 375px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    background: #ffffff;
    border-radius: 26.5px;
    border: none;
    padding: 15px 0;
    padding-left: 20px;
    &::-webkit-input-placeholder {
      color: #6b7d93;
      font-family: $primary-font;
      font-size: 16px;
      line-height: calc(24 / 16);
    }
  }
  &-button {
    padding: 15px 30px;
    position: absolute;
    right: 10%;
    transform: translateX(50%);
  }
}
@media screen and (max-width: 1024px) {
  .newsletter {
    &-container {
      flex-direction: column;
      width: 60%;
    }
    &-content {
      margin-left: 0;
      margin-bottom: 40px;
    }
    &-email {
      margin-left: 0;
    }
  }
}
@media screen and (max-width: 375px) {
  .newsletter {
    margin-bottom: 50px;
    &-container {
      width: 80%;
      padding: 20px 10px 30px;
    }
    &-content {
      margin-bottom: 30px;
      padding: 0 20px;
    }
    &-heading {
      font-size: 28px;
    }
    &-email {
      flex-direction: column;
      width: 40%;
    }
    &-input {
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 20px;
    }
    &-button {
      padding: 10px 20px;
      right: 0;
      transform: translateX(0);
    }
  }
}
