$primary-font: "Poppins", sans-serif;
$black-dark: #051441;
$orange: #ff7d00;
$black-light: #635f85;
$black: #101d48;
$gray: #5d677e;
$gray-dark: #6d7f94;
$gray-light: #79899d;
$border: #e7e7e7;
$linear-color: linear-gradient(97.61deg, #f67906 0.67%, #f4a81d 89.89%);
